/3.bat
/.settings/
/forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
/out/
/.metadata/
/1.bat
/bin/
/.project
/CREDITS-fml.txt
/2.bat
/LICENSE-fml.txt
/.classpath
/README.txt
/MinecraftForge-Credits.txt
/eclipse/
/.gradle/
/MinecraftForge-License.txt
/cmd.exe
/build/
/run/
/.idea/
/providedLibs/
/sorcesZip/
